//
   Created by anthony on 1/2/2016.
mixin button(text, link)
    a(href = link)
        .menubutton
            span #{text}
mixin button_2(text, link)
    a(href = link)
        .menubutton_2
            span #{text}