//
   Created by anthony on 12/26/2015.

doctype html
html
    head
        title Anthony McCann's Homepage
        link(rel='stylesheet', href='/css/style.css', type='text/css' )
    body

        script(src='js/jquery-1.11.3.js')
        script(src='js/app.js')

        #page
            #center
                #top_spacer
                #home_menu

                    #bio_button(class='me_button' style="width: 159px; border: 0px;")
                        | Anthony McCann
                    #skills_button(class='me_button')
                        | skills
                    #work_button(class='me_button' style="width:100px;")
                        | experience
                    #Projects_button(class='me_button' style="width:100px;")
                        | projects
                #bio(class='me')
                    h1
                        | Hello <span class = 'white'> #{user_ip}</span>,
                        | Im Anthony McCann, a senior in computer science and student web developer.
                #skills(class='me')
                    h1
                        | Languages:
                        | C++, java, javascript
                #work(class='me')
                    #work_hist(class="white whiteborder")
                        |work
                    .padded_box
                        #student_worker
                            |ODU student worker
                    #academic(class="white whiteborder")
                        |academic
                    .padded_box
                        #cs150and250
                            |CS 150&250
                            |Intro to Programming and Problem-Solving
                        //#cs150and250_desc(class="work white")
                        //    |Learned the basics of C++

                        #cs252
                            | CS 252
                            | Intro to UNIX for Programmers
                        //#cs252_desc(class="work white")
                            |Learned the basics of how to work in UNIX environments
                        #cs334
                            | CS 334
                            | Computing Architecture
                        #cs330
                            | CS 330
                            | Object-Oriented Program Design
                        #cs350
                            | CS 350
                            | Intro to Software Engineering
                        #cs355
                            | CS 355
                            | Principles of Programming Languages
                        #cs361
                            | CS 361
                            | Data Structures
                        #cs381
                            | CS 381
                            | Discrete Structures
                        #cs390
                            | CS 390
                            | Intro to Theoretical Computer Science
                        #cs471
                            | CS 471
                            | Operating Systems



        script.
            $(document).ready(function () {
                app();
            });