//
   Created by anthony on 12/26/2015.

doctype html
html
    head
        title Anthony McCann's Homepage
        link(rel='stylesheet', href='/css/style.css', type='text/css' )
    body
        include projects_sidebar
        .textblock
            h1
                |Hello <span class = 'white'> #{user_ip}</span>,
                |Im Anthony McCann, a senior in computer science and student web developer.
                br
                br
                |I have experience coding in C++, Java, Javascript, PHP, as well as a few other languages.
                |Apache, nginx and node.js are all servers I have deployed on as well.
