//
   Created by anthony on 12/26/2015.

doctype html
html
    head
        title Anthony McCann's Homepage
        link(rel='stylesheet', href='/css/style.css', type='text/css' )
    body

        script(src='js/jquery-1.11.3.js')
        script(src='js/app.js')

        #page
            #center
                #top_spacer
                #home_menu

                    #bio_button(class='me_button' style="width: 159px; border: 0px;")
                        | Anthony McCann
                    #skills_button(class='me_button')
                        | skills
                    #work_button(class='me_button')
                        | work
                #bio(class='me')
                    h1(class='white')
                        | Hello <span class = 'white'> #{user_ip}</span>,
                        | Im Anthony McCann, a senior in computer science and student web developer.
                #skills(class='me')
                    h1(class='white')
                        | Languages:
                        | C++, java, javascript
                #work(class='me')
                    #work_menu



        script.
            $(document).ready(function () {
                app();
            });