//
   Created by anthony on 12/26/2015.

doctype html
html
    head
        title Anthony McCann's Homepage
        link(rel='stylesheet', href='/css/style.css', type='text/css' )
    body
        include projects_sidebar
        include menubar

        .textblock
            h1
                |The frontend was coded mostly with JADE and CSS.
                br
                |Everything is kept as simple as possible, If javascript is disabled a static HTML site is provided.
                br
                br
                |The Backend is entirely node.js, handling all the routing and rendering of JADE into HTML.






